on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main

name: R-CMD-check

jobs:
  check:
    strategy:
      matrix:
        config:
          - {os: macOS-latest,   r: 'release'}
          - {os: ubuntu-latest,   r: 'release'}

    runs-on: ${{ matrix.config.os }}

    steps:
      - uses: actions/checkout@v6
        with:
          lfs: false
      - uses: r-lib/actions/setup-pandoc@v2
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true
      - name: Install libraries
        if: ${{ matrix.config.os == 'ubuntu-latest' }}
        run: |
          sudo apt install libcurl4-openssl-dev libglpk-dev
          sudo apt install mecab libmecab-dev mecab-ipadic-utf8
          sudo ldconfig
          echo `mecab-config --libexecdir` >> $GITHUB_PATH
          git clone --depth 1 https://github.com/paithiov909/crfpp.git
          cd crfpp/
          ./configure
          make
          sudo make install
          sudo ldconfig
          cd ../
          git clone --depth 1 https://github.com/paithiov909/cabocha.git
          cd cabocha/
          ./configure --with-charset=UTF8 --enable-utf8-only
          make
          make check
          sudo make install
          sudo ldconfig
          cd ../
          echo `cabocha-config --libexecdir` >> $GITHUB_PATH
      - uses: r-lib/actions/setup-r-dependencies@v2
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
        with:
          extra-packages: rcmdcheck, covr
      - uses: r-lib/actions/check-r-package@v2
        with:
          args: 'c("--no-vignettes", "--no-manual", "--ignore-vignettes")'
          build_args: 'c("--no-build-vignettes", "--no-manual")'
          error-on: '"error"'
      - name: Codecov
        if: ${{ matrix.config.os == 'ubuntu-latest' }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: covr::codecov()
        shell: Rscript {0}
